<%= turbo_frame_tag booking do %>
  <div class="container mt-4">
    <section class="booking-details bg-light p-4 rounded">
      <p class="mb-2">
        <strong><%= t("bookings.show.tour_detail_name") %></strong>
        <%= link_to booking.tour_detail.tour_detail_name, admin_tour_path(booking.tour_detail.tour), class: "text-primary", data: { turbo: false }  %>
      </p>
      <p class="mb-2">
        <strong><%= t("bookings.show.booking_date") %></strong>
        <%= l(booking.created_at, format: :long) %>
      </p>
      <p class="mb-2">
        <strong><%= t("bookings.show.date_start") %></strong>
        <%= l(booking.date_start, format: :long) %>
      </p>
      <p class="mb-2">
        <strong><%= t("bookings.show.phone") %></strong>
        <%= booking.phone %>
      </p>
      <p class="mb-2">
        <strong><%= t("bookings.show.numbers_people") %></strong>
        <%= booking.numbers_people %>
      </p>
      <p class="mb-2">
        <strong><%= t("bookings.show.total_amount") %></strong>
        <%= number_to_currency(booking.total_amount, unit: "₫", format: "%n %u", precision: 0) %>
      </p>
      <p class="mb-2">
        <strong><%= t("bookings.show.status") %></strong>
        <%= booking.status %>
        <div class="d-flex">
          <% if booking.pending? %>
            <%= link_to admin_cancel_booking_path(booking),data: {controller: "cancel-booking" }, class: "btn btn-danger btn-sm ml-2" do %>
              <%= t("bookings.canceltour") %>
            <%end%>
            <%= button_to t("bookings.confirmtour"), admin_confirm_booking_path(booking), method: :put, class: "btn btn-primary btn-sm ml-2", data: { confirm: "Are you sure you want to confirm this booking?" } %>
          <% end %>
          <% if booking.confirmed? %>
            <%= link_to admin_cancel_booking_path(booking),data: {controller: "cancel-booking" }, class: "btn btn-danger btn-sm ml-2" do %>
              <%= t("bookings.canceltour") %>
            <%end%>
            <%= button_to t("bookings.Successtour"), admin_success_booking_path(booking), method: :put, class: "btn btn-success btn-sm ml-2" %>
          <% end %>
        </div>
      </p>
      <% if booking.canceled? %>
        <p class="mb-2">
          <strong><%= t("bookings.show.reason") %></strong>
          <%= booking.reason %>
        </p>
      <% end %>
    </section>
  </div>
<% end %>
