<div class="container">
  <div class="card mt-5">
    <article class="card-body">
      <%= link_to t("user.loginpage.signup"), signup_path, class: "float-right btn btn-outline-primary" %>
      <h4 class="card-title mb-4 mt-1"><%= t( "user.loginpage.signin" )%></h4>
      <%= form_for(:session, url: login_path) do |f|%>
        <div class="form-group">
          <%= f.label :email, t( "user.loginpage.email_label" )%>
          <%= f.email_field :email, class: "form-control", placeholder: "Email"%>
        </div>
        <div class="form-group">
          <a class="float-right" href="#"><%= t( "user.loginpage.forgot" )%>?</a>
          <%= f.label :password, t( "user.loginpage.password_label" )%>
          <%= f.password_field :password, class: "form-control", placeholder: "****"%>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <%= f.check_box :remember_me , class: "mx-3"%>
            <%= f.label :remember_me, t( "user.loginpage.save_password" )%>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"><%= t( "user.loginpage.signin" )%></button>
        </div>
      <% end %>
    </article>
  </div>
</div>
