<div class="container mt-5 p-5 bg-light">
  <div class="row">
    <div class="col-sm-3">
      <div class="text-center">
        <%= image_tag rails_blob_path(current_user.avatar.variant(:avatar_icon), only_path: true), class: "avatar img-circle img-thumbnail", alt: "avatar" if current_user.avatar&.attached? %>
        <%= image_tag "http://ssl.gstatic.com/accounts/ui/avatar_2x.png", class: "avatar img-circle img-thumbnail", alt: "avatar" unless current_user.avatar&.attached? %>
      </div>
      <nav class="navbar">
        <ul class="navbar-nav">
          <% if !current_user.admin? %>
            <li class="nav-item">
              <%= link_to t("user.showpage.bookings"), history_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("user.showpage.tours_follow"), tour_following_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="container">
            <h2><%= t("user.loginpage.signup") %></h2>
            <h2><%= t("user.editpage.edit", resource_name: resource_name.to_s.humanize) %></h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="mb-3">
                <%= f.label :username, t("user.signuppate.user_label"), class: "form-label" %>
                <%= f.text_field :username, class: "form-control", placeholder: t("user.signuppate.user_label") %>
                <% if resource.errors[:username].any? %>
                  <p class="text-danger"><%= resource.errors[:username].first %></p>
                <% end %>
              </div>
              <div class="mb-3">
                <%= f.label :phone, t("user.signuppate.phone"), class: "form-label" %>
                <%= f.telephone_field :phone, class: "form-control", placeholder: t("user.signuppate.phone") %>
                <% if resource.errors[:phone].any? %>
                  <p class="text-danger"><%= resource.errors[:phone].first %></p>
                <% end %>
              </div>
              <div class="field">
                <%= f.label :current_password, t("user.signuppate.password"), class: "form-label" %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="mb-3">
                <%= f.label :password , t("user.signuppate.password"), class: "form-label" %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
                <% if resource.errors[:password].any? %>
                  <p class="text-danger"><%= resource.errors[:password].first %></p>
                <% end %>
              </div>
              <div class="mb-3">
                <%= f.label :password_confirmation, t("user.signuppate.password_confirm_label"), class: "form-label" %>
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
                <% if resource.errors[:password_confirmation].any? %>
                  <p class="text-danger"><%= resource.errors[:password_confirmation].first %></p>
                <% end %>
              </div>
              <div class="mb-3">
                <%= f.label :avatar, class: "form-label" %>
                <%= f.file_field :avatar, class: "form-control" %>
              </div>
              <div class="mb-3">
                <%= f.submit t("user.loginpage.signup"), class: "btn btn-primary" %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
            <h3><%= t("user.editpage.cancel_account") %></h3>
            <div>
              <%= button_to t("user.editpage.cancel_account_button"), registration_path(resource_name),
                      data: { confirm: t("user.editpage.confirmation_message"), turbo_confirm: t("user.editpage.confirmation_message") },
                      method: :delete,
                      class: "btn btn-danger" %>
            </div>
            <%= link_to t("user.editpage.back_button"), :back, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
