<tr>
  <td>
    <% if bill&.tour_detail&.tour %>
      <%= link_to bill.tour_detail.tour_detail_name, admin_tour_path(bill.tour_detail.tour), class: "text-primary" %>
    <% else %>
      <%= bill&.tour_detail&.tour_detail_name %>
    <% end %>
  </td>
  <td><%= l(bill.created_at, format: :long) %></td>
  <td><%= l(bill.date_start, format: :long) %></td>
  <td><%= l(bill.end_date, format: :long) %></td>
  <td><%= bill.phone %></td>
  <td><%= bill.numbers_people %></td>
  <td><%= number_to_currency(bill.total_amount, unit: "₫", format: "%n %u", precision: 0) %></td>
  <td>
    <%= bill.status %>
  </td>
  <td  colspan="2">
    <% if bill.pending? %>
      <%= button_to t("bookings.canceltour"), admin_cancel_booking_path(bill), method: :put, class: "btn btn-danger btn-sm ml-2", data: { turbo_confirm: "Are you sure you want to confirm this booking?" } %>
    <% end %>
    <% if bill.pending? %>
      <%= button_to t("bookings.confirmtour"), admin_confirm_booking_path(bill), method: :put, class: "btn btn-primary btn-sm ml-2", data: { turbo_confirm: "Are you sure you want to confirm this booking?" } %>
    <% end %>
  </td>
</tr>
