<%= form_with model: @tour_category, url: @tour_category.persisted? ? admin_tour_category_path(@tour_category) : admin_tour_categories_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :category_name, t("tour_categories.form.category_name"), class: "control-label" %>
    <%= f.text_field :category_name, class: "form-control" %>
    <%= render  "shared/error_element_message", errors: @tour_category.errors[:category_name] %>
  </div>
  <div class="form-group">
    <%= f.submit t("buttons.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
