<div class="card mt-5">
  <article class="card-body">
    <a href="" class="float-right btn btn-outline-primary"><%= t( 'user.signuppate.signup' )%></a>
    <h4 class="card-title mb-4 mt-1"><%= t( 'user.signuppate.signup' )%></h4>
    <%= form_for(@user) do |f|%>
      <div class="form-group">
        <%= f.label :username, t( 'user.signuppate.user_label' )%>
        <%= f.text_field :username, class: "form-control", placeholder: t( 'user.signuppate.user_label' )%>
        <% if @user.errors[:username].any? %>
          <p class="text-danger"><%= @user.errors[:username].first %></p>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :phone, t( 'user.signuppate.phone' )%>
        <%= f.telephone_field :phone, class: "form-control", placeholder: t( 'user.signuppate.phone' )%>
        <% if @user.errors[:phone].any? %>
          <p class="text-danger"><%= @user.errors[:phone].first %></p>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :email, t( 'user.signuppate.email_label' )%>
        <%= f.email_field :email, class: "form-control", placeholder: t( 'user.signuppate.email' )%>
        <% if @user.errors[:email].any? %>
          <p class="text-danger"><%= @user.errors[:email].first %></p>
        <% end %>
      </div>
      <div class="form-group">
        <a class="float-right" href="#"><%= t( 'user.signuppate.forgot' )%>?</a>
        <%= f.label :password, t( 'user.signuppate.password_label' )%>
        <%= f.password_field :password, class: "form-control", placeholder: "****"%>
        <% if @user.errors[:password].any? %>
          <p class="text-danger"><%= @user.errors[:password].first %></p>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, t( 'user.signuppate.password_confirm_label' )%>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "****"%>
        <% if @user.errors[:password_confirmation].any? %>
          <p class="text-danger"><%= @user.errors[:password_confirmation].first %></p>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.file_field :avatar %>
      </div>
      <div class="form-group">
        <%= f.submit submit_text, class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </article>
</div>
