<%= turbo_frame_tag dom_id tour do %>
  <div class="row">
    <div class="col-md-4">
      <%if logged_in? %>
        <% if !tour.followed_users.include?(current_user) %>
          <%= link_to follow_tour_path(tour), class: "h5 m-0 text-decoration-none", data: { turbo_method: :post } do %>
            <%= tour.tour_followings.count %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to unfollow_tour_path(tour), class: "nav-link text-danger", data: { turbo_method: :delete } do %>
            <%= tour.tour_followings.count %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      <%else%>
        <a>
          <%= tour.tour_followings.count %>
          <i class="fas fa-heart"></i>
        </a>
      <% end %>
    </div>
    <div class="col-md-4">
      <a class="h5 m-0 text-decoration-none" href="#"><%= tour.reviews.count %><i class="fas fa-comment"></i></a>
    </div>
    <div class="col-md-4">
      <a class="h5 m-0 text-decoration-none" href="#"><%= tour.bookings.count %><i class="fas fa-user-friends"></i></a>
    </div>
  </div>
<% end %>
