<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-white">
        <div class="card-body">
          <%= search_form_for @q, url: tours_path, html: { class: "form row" } do |f| %>
            <div class="col-4 form-group mb-2">
              <%= f.label :tour_name_or_hagtag_cont, t("activerecord.attributes.tour.tour_name"), class: "sr-only" %>
              <%= f.search_field :tour_name_or_hagtag_cont, class: "form-control", placeholder: t("search.placeholder.tour_name") %>
            </div>
            <div class="col-4 form-group mb-2">
              <%= f.collection_select :tour_category_id_eq, categories, :id, :category_name, { prompt: t("tourform.select_category")}, class: "form-control" , required: true %>
            </div>
            <div class = "col-2" >
              <%= f.submit t("buttons.submit"), class: "btn btn-primary" %>
            </div>
            <div class = "col-2" >
              <%= link_to t("buttons.clear"), tours_path, class: "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row pb-3">
    <% if @tours.any? %>
      <% @tours.each do |tour| %>
        <%= render tour %>
      <% end %>
      <div class="col-12 mt-2 d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>
