<div class="container-fluid py-5">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <div class="pb-3">
        <div class="blog-item">
          <div class="position-relative">
            <%= image_tag @tour.image, class: "img-fluid w-100", alt: "Tour Image" if @tour.image&.attached?   %>
          </div>
        </div>
        <div class="bg-white mb-3 p-3">
          <%= @tour.content %>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <span class="font-weight-bold"><%= t("tours.category") %></span>
            </div>
            <div class="col-md-8">
              <a class="h5 m-0 text-decoration-none" href="#"><%= @tour.tour_category.category_name %></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span class="font-weight-bold"><%= t("tours.time_duration") %></span>
            </div>
            <div class="col-md-8">
              <a class="h5 m-0 text-decoration-none" href="#"><%= @tour.time_duration %></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span class="font-weight-bold"><%= t("tours.tour_description") %></span>
            </div>
            <div class="col-md-8">
              <a class="h5 m-0 text-decoration-none" href="#"><%= @tour.tour_description %></a>
            </div>
          </div>
        </div>
        <div class="bg-white p-3 m-2">
          <%= turbo_frame_tag :comments do %>
            <%= render 'reviews/reviews' %>
          <% end %>
          <%= link_to t('bookings.review_tour'), review_tour_path(@tour), class: 'btn btn-primary btn-sm ml-2' %>
          <%= turbo_frame_tag :review_form do %>
            <% if logged_in? && !@tour.users_reviewed.loaded? && @tour.users_booked.loaded? %>
              <% users_reviewed = @tour.users_reviewed.includes(:reviews) %>
              <% users_booked = @tour.users_booked.includes(:bookings) %>
              <% if users_booked.include?(current_user) && !users_reviewed.include?(current_user) %>
                <%= link_to t('bookings.review_tour'), review_tour_path(@tour), class: 'btn btn-primary btn-sm ml-2' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="mb-5">
        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Booking </h4>
        <% if @tour.tour_details.any? %>
          <% @tour.tour_details.each do |tour_detail| %>
            <%= render "tour_details/tour_detail_preview", tour_detail: tour_detail %>
          <% end %>
        <% end %>
      </div>
      <%= turbo_frame_tag "booking" do %>
      <% end %>
    </div>
  </div>
</div>
