<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <% if admin? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to t('tours.navbar.edit'), edit_tour_path(@tour), class: "nav-link"  %><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('tours.navbar.tour_details') %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t('tours.navbar.view_details'), '#', class: "dropdown-item" %>
              <%= link_to t('tours.navbar.add_details'), '#', class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  <% end %>
  <!-- Blog Detail Start -->
  <div class="pb-3">
    <div class="blog-item">
      <div class="position-relative">
        <%= image_tag @tour.image, class: "img-fluid w-100", alt: "Tour Image" if @tour.image&.attached?   %>
      </div>
    </div>
    <div class="bg-white mb-3" style="padding: 30px;">
      <%= @tour.content %>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <span class="font-weight-bold"><%= t('tours.category') %></span>
        </div>
        <div class="col-md-8">
          <a class="h5 m-0 text-decoration-none" href="#"><%= @tour.tour_category.category_name %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="font-weight-bold"><%= t('tours.time_duration') %></span>
        </div>
        <div class="col-md-8">
          <a class="h5 m-0 text-decoration-none" href="#"><%= @tour.time_duration %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="font-weight-bold"><%= t('tours.tour_description') %></span>
        </div>
        <div class="col-md-8">
          <a class="h5 m-0 text-decoration-none" href="#"><%= @tour.tour_description %></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog Detail End -->
</div>
</div>
<!-- Blog End -->
