<header id="header" class="header d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <%= link_to "/admin", class: "logo d-flex align-items-center" do %>
      <%= image_tag("/assets/img/logo.png", alt: "") %>
      <span class="d-none d-lg-block">Thatdeptrai</span>
    <% end %>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <nav class="header-nav d-flex flex-row-reverse">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-toggle="dropdown">
          Language
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li>
            <%= link_to "English", url_for(locale: "en"), class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "Vietnamese", url_for(locale: "vi"), class: "dropdown-item" %>
          </li>
        </ul>
      </li>
      <% if logged_in? && admin?%>
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-toggle="dropdown">
            <%= image_tag current_user.avatar.variant(:avatar_icon), alt: "Profile", class: "rounded-circle" %>
            <span class="d-none d-md-block dropdown-toggle ps-2">
              <%= current_user.username %>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <%= link_to logout_path, data: { turbo_method: :delete }, class: "dropdown-item d-flex align-items-center" do %>
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item dropdown pe-3">
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <%= link_to "/signOut", class: "dropdown-item d-flex align-items-center" do %>
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
