<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse vh-100">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("dashboard.link.tour")%>
        </a>
        <div class="dropdown-menu">
          <%= link_to t("dashboard.link.tours"), admin_tours_path, class: "dropdown-item" %>
          <%= link_to t("dashboard.link.new_tours"), new_admin_tour_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("dashboard.link.bill")%>
        </a>
        <div class="dropdown-menu">
          <%= link_to t("dashboard.link.bills"), admin_bills_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("dashboard.link.category")%>
        </a>
        <div class="dropdown-menu">
          <%= link_to t("dashboard.link.categorys"), admin_tour_categories_path, class: "dropdown-item" %>
          <%= link_to t("dashboard.link.new_categorys"), new_admin_tour_category_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
