<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "admin/layouts/header"%>
    <div class="row">
      <%= render "admin/layouts/side_navbar"%>
      <div class="col-md-10 ml-sm-auto col-lg-11 px-md-4">
        <%= render "shared/flash_messages"%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
