<div class="media mb-4">
  <%= image_tag review.user.avatar.variant(:avatar_icon), alt: "User Avatar", class: "img-fluid mr-3 mt-1"  if review.user.avatar&.attached?%>
  <div class="media-body">
    <h6>
      <a href="#">
        <%= review.user.username %>
      </a>
      <small>
        <i>
          <%= review.created_at.strftime('%d %b %Y') %>
        </i>
      </small>
      <% if review.user == current_user %>
        <%= link_to t("buttons.delete"), review, data: { turbo_method: :delete, turbo_confirm: t("reviews.comfirm_delete")}, class: "btn btn-danger"  %>
        <%= link_to t("buttons.update"), edit_review_path(review), class: "btn btn-primary"  %>
      <% end %>
    </h6>
    <p><%= review.review_text %></p>
  </div>
</div>
