<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
  <div class="row pt-5">
    <div class="col-lg-6 col-md-6 mb-5">
      <a href="" class="navbar-brand">
        <h1 class="text-primary"><span class="text-white"><%= t("footer.brand_name") %></span></h1>
      </a>
      <p><%= t("footer.tagline") %></p>
      <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;"><%= t("footer.follow_us") %></h6>
      <div class="d-flex justify-content-start">
        <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;"><%= t("footer.contact_us") %></h5>
      <p><i class="fa fa-map-marker-alt mr-2"></i><%= t("footer.address") %></p>
      <p><i class="fa fa-phone-alt mr-2"></i><%= t("footer.phone") %></p>
      <p><i class="fa fa-envelope mr-2"></i><%= t("footer.email") %></p>
      <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;"><%= t("footer.newsletter") %></h6>
      <div class="w-100">
        <div class="input-group">
          <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="<%= t("footer.placeholder_email") %>">
          <div class="input-group-append">
            <button class="btn btn-primary px-3"><%= t("footer.sign_up") %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
