<div class="container-fluid bg-light pt-3 d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center">
          <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
          <p class="text-body px-3">|</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</p>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <div class="d-inline-flex align-items-center">
          <a class="text-primary px-3" href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="text-primary px-3" href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="text-primary px-3" href="">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="text-primary px-3" href="">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="text-primary pl-3" href="">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid position-relative nav-bar p-0">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
    <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
      <a href="" class="navbar-brand">
        <h1 class="m-0 text-primary"><span class="text-dark">TRAVEL</span>ER</h1>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="bg-white">
        <div class="input-group">
          <input type="text" class="form-control p-4" placeholder="Keyword">
          <div class="input-group-append">
            <span class="input-group-text bg-primary border-primary text-white">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
        <div class="navbar-nav ml-auto py-0">
          <%= link_to t("user.headers.link.home" ), home_path, class: "nav-item nav-link active" %>
          <%= link_to t("user.headers.link.tour" ), tours_path, class: "nav-item nav-link" %>
          <div class="nav-item dropdown">
            <% if logged_in? %>
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <%= image_tag current_user.avatar.variant(:avatar_icon) %>
                <%= current_user.username %>
              </a>
              <div class="dropdown-menu border-0 rounded-0 m-0">
                <%= link_to t("user.headers.account_link.information"), current_user, class: "dropdown-item" %>
                <% if admin? %>
                  <%= link_to t("user.headers.admin_link.admin_home"), admin_dashboard_path, class: "dropdown-item" %>
                <% else %>
                  <%= link_to t("user.headers.account_link.history_booking"), history_path, class: "dropdown-item" %>
                  <%= link_to t("user.headers.account_link.fllowing_booking"), tour_following_path, class: "dropdown-item" %>
                  <% end %>
                  <%= link_to t("user.headers.account_link.logout"), logout_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
                </div>
              <% else %>
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= t("user.headers.account_link.account" )%></a>
                <div class="dropdown-menu border-0 rounded-0 m-0">
                  <%= link_to t("user.headers.account_link.login"), login_path, class: "dropdown-item" %>
                  <%= link_to t("user.headers.account_link.register"), signup_path, class: "dropdown-item" %>
                </div>
              <% end %>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Language</a>
              <div class="dropdown-menu border-0 rounded-0 m-0">
                <%= link_to "English", url_for(locale: "en"), class: "dropdown-item" %>
                <%= link_to "Vietnamese", url_for(locale: "vi"), class: "dropdown-item" %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
